<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="container">
        <!-- a 태그에 href 추가 -->
        <a href="{{ url_for('index') }}">
            <div class="homeLogo">
                <img src="{{ url_for('static', filename='30DayLogo.png') }}">
            </div>
        </a>
        <p>목표를 쉽게, 30일 챌린지</p>
    </div>
</body>
</html>
