<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <div class="date">{{ date.full }}</div>
        <div class="challenge">{{ date.month_str }} 챌린지</div><br>
        {% if selected_keyword %}
            <div class="selected-challenge">
                {{ selected_keyword }}
            </div>
        {% endif %}
        <div class="ckList">
            <form method="post" action="" id="ckList-form">
                <div class="checkbox-container">
                    <input type="checkbox" name="ck" class="ck" id="ck1">
                    <label for="ck1">{{ random_number }}장 공부하기</label>
                </div>
            </form>
        </div>
    </div>
</body>
</html>