<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='setting.css') }}">
</head>
<body>
    <div class="container">
        <header class="SettingText" id="logo-header">
            <img src="{{ url_for('static', filename='30DayLogo.png') }}" alt="Logo">
            <p>{{ random_text[0] }}</p>
        </header>        
        <div class="Setting">
            <h2>선택한 챌린지: {{ selected_keyword }}</h2>
            <p class="date-range">진행 날짜 : {{ date_range }}</p>
        </div>
        <div class="SettingAdd">
            <form method="post" action="" id="settingAdd-form">
                <input type="submit" value="다음" class="button">
            </form>
        </div>
    </div>
</body>
</html>